/.metadata/
Great Outdoor/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Great Outdoor/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Great Outdoor/.metadata/.plugins/org.eclipse.e4.workbench