<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  
  <head>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet"/>
  </head>
  <body>
      <div class="container-fluid">
          <div class="row">    
              <div id="admin-sidebar" class="col-md-2 p-x-0 p-y-3">
                <ul class="sidenav admin-sidenav list-unstyled">
                   
                    <li><a (click)="clickOnViewProducts()">View All Products</a></li>
                    <li><a (click)="clickOnAddProduct()">Add Product</a></li>
                   
                    <li><a (click)="logout()">Logout</a></li>
                    <!-- <li><a href="#">NavLink 6</a></li>                   -->
                </ul>
            </div>
            <!-- Enter the code here -->
           
            <form (ngSubmit) = "saveProduct(); addProductForm.reset()" #addProductForm=ngForm>
              <div>
                <table class="table table-striped ">
                  <tr>
                    <td><label> Product Name </label></td>
                    <td>
                      <input name="productName" class="form-control" 
                      [(ngModel)]=product.productName 
                      placeholder="Enter Product Name" 
                     required pattern="[a-zA-Z][a-zA-Z ]+" 
                      #productName="ngModel">
                      
                    </td>
                  </tr>
                  <tr>
                    <td><label> Price </label></td>
                    <td>
                      <input name="price" class="form-control" 
                      [(ngModel)]=product.price 
                      placeholder="Enter Price" 
                      required 
                      #price="ngModel">
                      

                    </td>
                  </tr>
                  <tr>
                  <td><label>Category </label></td>
                  <td>
                    <input name="productCategory" class="form-control" 
                    [(ngModel)]=product.productCategory 
                    placeholder="Enter Category" 
                    required 
                    #productCategory="ngModel">
                  </td>
                </tr>
                  <tr>
                    <td><label>Colour </label></td>
                    <td>
                      <input name="colour" class="form-control" 
                      [(ngModel)]=product.colour 
                      placeholder="Enter Colour" 
                      required 
                      #colour="ngModel">
                    </td>
                  </tr>
                  <tr>
                    <td><label>Dimensions </label></td>
                    <td>
                      <input name="dimension" class="form-control" 
                      [(ngModel)]=product.dimension 
                      placeholder="Enter Dimension" 
                      required  
                      #dimension="ngModel">
                    </td>
                  </tr>
                  <tr>
                    <td><label>Specification </label></td>
                    <td>
                      <input name="specification" class="form-control" 
                      [(ngModel)]=product.specification 
                      placeholder="Enter Specification" 
                      required 
                      #specification="ngModel">
                    </td>
                  </tr>
                  <tr>
                    <td><label>Manufacturer </label></td>
                    <td>
                      <input name="manufacture" class="form-control" 
                      [(ngModel)]=product.manufacture 
                      placeholder="Enter Manufacturer" 
                      required 
                      #manufacture="ngModel">
                    </td>
                  </tr>
                  <tr>
                    <td><label>Quantity </label></td>
                    <td>
                      <input name="quantity" class="form-control" 
                      [(ngModel)]=product.quantity 
                      placeholder="Enter Quantity" 
                      required 
                      #quantity="ngModel">
                    </td>
                  </tr>
                </table>
              </div>
              <div>
                <button class="btn btn-primary" type="submit" [disabled] = "!addProductForm.valid">Add Product</button>
              </div>
            </form> 

          </div> 
      </div> <!-- /.container-fluid -->
  </body>




