<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  
  <head>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet"/>
  </head>
  <body>
      <div class="container-fluid">
          <div class="row">    
              <div id="admin-sidebar" class="col-md-2 p-x-0 p-y-3">
                <ul class="sidenav admin-sidenav list-unstyled">
                   
                    <li><a (click)="clickOnAddProductMaster()">Add Product Master</a></li>
                    <li><a (click)="clickOnViewProductMasters()">View All Product Master</a></li>
                    <li><a (click)="clickOnAddRetailer()">Add Retailer</a></li>
                    <li><a (click)="clickOnViewRetailers()">View All Retailer</a></li>
                   
                   
                    <li><a (click)="logout()">Logout</a></li>
                    <!-- <li><a href="#">NavLink 6</a></li>                   -->
                </ul>
                 
            </div>
            

            <h1>Welcome {{userName}}</h1>

                  
              </div> 
        
      </div> <!-- /.container-fluid -->
  </body>
