<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

  

    <!-- Login Form -->
       <form (ngSubmit)="checkLogin();loginForm.reset() " #loginForm=ngForm>
        <small class="text-danger">{{msg}}</small>
        <div class="form-group"> <input type="text" class="form-control" placeholder="Enter Username" name="username" [(ngModel)]="login.username" required pattern="[a-zA-Z]{3,}" #username="ngModel"
          [class.is-invalid]="username.invalid && username.touched && username.dirty">
         
          <div *ngIf="username.errors && (username.invalid && username.touched && username.dirty)">
            <small class="text-danger" *ngIf="username.errors.required">Username is required field</small>
            <small class="text-danger" *ngIf="username.errors.pattern">Enter the valid Username"</small>
         
      </div>       
      </div>

      <div class="form-group">
        <input type="password" class="form-control" placeholder="Enter Password" name="password" [(ngModel)]="login.password" required  #password="ngModel"
        [class.is-invalid]="password.invalid && password.touched">
        <div *ngIf="password.errors && (password.invalid && password.touched)">
          <small class="text-danger" *ngIf="password.errors.required">Password is required field</small>
          <small class="text-danger" *ngIf="password.errors.pattern">Enter the valid Password"</small>
        
     
      </div>
    </div>
     <!--<input type="submit" class="fadeIn fourth" value="Login" [disabled]="!loginForm.valid">--> 
      <input [disabled]="loginForm.form.invalid" type="submit" class="fadeIn fourth" value="Login">
    </form>


  </div>
</div>